<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit_number %><br />
    <%= f.text_field :unit_number %>
  </div>
  <div class="field">
    <%= f.label :wing_name %><br />
    <%= f.text_field :wing_name %>
  </div>
  <div class="field">
    <%= f.label :building_name %><br />
    <%= f.text_field :building_name %>
  </div>
  <div class="field">
    <%= f.label :unit_type_id %><br />
    <%= f.number_field :unit_type_id %>
  </div>
  <div class="field">
    <%= f.label :society_id %><br />
    <%= f.number_field :society_id %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.number_field :member_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
