
<ul id="j_5" class="sf-menu dropdownmenu1 " tabIndex="1">
      <li class="group" style="width:80px;">
       
               <%= link_to "Members", members_path %>
 
	     <ul style="width:100px;">
                <li style="width:81px !important;">
                    <a id="j_26" href="#" style="width:73px">
                    My Profile
                    </a>
                </li>
                <li style="width:81px !important;">
                    <a id="j_27" href="#" style="width:73px">
                    My Account
                    </a>
                </li>
                <li style="width:81px !important;">
                    <a id="j_28" href="#" style="width:73px">
                    My Vehicles
                    </a>
                </li>
                <li style="width:81px !important;">
                    <a id="j_29" href="#" style="width:73px">
                    My Family
                    </a>
                </li>
                <li style="width:81px !important;">
                    <a id="j_30" href="#" style="width:73px">
                    Menu item
                    </a>
                </li>
	  </ul>
       </li>
        <li class="group" style="width:65px;">
            <a id="j_31" href="#">
            Office
            </a>
            <ul style="width:114px;">
                <li style="width:90px !important;">
                    <a id="j_32" href="#" style="width:82px">
                    <%= link_to "Managing committe", committee_members_path %>
                    </a>
                </li>
                <li style="width:90px !important;">
                    <a id="j_33" href="#" style="width:82px">
                    <%= link_to "Office staff", staffs_path %>
                    </a>
                </li>
                <li style="width:90px !important;">
                    <a id="j_34" href="#" style="width:82px">
                    <%= link_to "Vendors", vendors_path %>
                    </a>
                </li>
            </ul>
        </li>
	   <li class="group" style="width:65px;">
                <%= link_to "Billing", billing_path %>
            <ul style="width:131px;">
                <li style="width:107px !important;">
                    <a id="j_36" href="#" style="width:99px">
                    Create Bill
                    </a>
                </li>
                <li style="width:107px !important;">
                    <a id="j_37" href="#" style="width:99px">
                   <%= link_to "Bill Details", billdetail_path %>
                    </a>
                </li>
                <li style="width:107px !important;">
                    <a id="j_38" href="#" style="width:99px">
                    Send Bill
                    </a>
                </li>
                <li style="width:107px !important;">
                    <a id="j_39" href="#" style="width:99px">
                    <%= link_to "Bill Setup", billsetup_path %>
                    </a>
                </li>
                
            </ul>
        </li>
        <li class="group" style="width:90px;">
            <a id="j_40" href="#">
            Complaints
            </a>
            <ul style="width:194px;">
                <li style="width:170px !important;">
                    <a id="j_41" href="#" style="width:162px">
                    My Complaints
                    </a>
                </li>
                <li style="width:170px !important;">
                    <a id="j_42" href="#" style="width:162px">
                    Other Members Complaints
                    </a>
                </li>
                <li style="width:170px !important;">
                    <a id="j_43" href="#" style="width:162px">
                    Resolved Complaints
                    </a>
                </li>
            </ul>
        </li>
        <li class="group" style="width:70px;">
            <a id="j_44" href="#">
            Notices
            </a>
            <ul style="width:160px;">
                <li style="width:160px !important;">
                    <a id="j_45" href="#" style="width:70px">
                    <%= link_to "Minutes of a meeting", resolutions_path %>
                    </a>
                </li>
                <li style="width:160px !important;">
                    <a id="j_45" href="#" style="width:70px">
                    <%= link_to "Agenda for a meeting", agendas_path %>
                    </a>
                </li>
            </ul>
       </li>
        <li class="group" style="width:70px;">
            <a id="j_46" href="#">
            Reports
            </a>
            <ul style="width:97px;">
                <li style="width:73px !important;">
                    <a id="j_47" href="#" style="width:65px">
                    Menu item
                    </a>
                </li>
            </ul>
        </li>
        <li class="group" style="width:65px;">
          <a id="j_48" href="#">
            Master
            </a>
            <ul style="width:131px;">
                <li style="width:107px !important;">
                    <a id="j_51" href="#" style="width:99px">
                  <%= link_to "Master", master_path %>

                    </a>
                </li>
                <li style="width:107px !important;">
                    <a id="j_52" href="#" style="width:99px">
                   <%= link_to "Units", units_path %>
                    </a>
                </li>
                <li style="width:107px !important;">
                    <a id="j_53" href="#" style="width:99px">
                    <%= link_to "Unit Type", unit_types_path %>
                    </a>
                </li>
            </ul>
        </li>
</ul>
			<script type="text/javascript">
			                                jQuery(function()
			{
			    jQuery('ul.sf-menu').superfish(
			    {
			        hoverClass: 'sfHover',
			        dropShadows: false,
			        autoArrows: false,
			        disableHI: true
			    });
			});
			</script>
                         
